<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete note</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
</head>
<body>
<link rel = "icon" href =
        "https://png.pngtree.com/png-clipart/20190613/original/pngtree-notebook-icon-png-image_3568578.jpg"
      type = "image/x-icon">
<h1>Delete note</h1>
<h2>Are you sure delete this note?</h2>
<p>
</p>
<form th:action="@{/delete-note}" th:object="${note}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <div>
    <table class="table table-bordered table-striped" border="2">
        <tr>
            <td>Title:</td>
            <td th:text="${note.title}"></td>
        </tr>
        <tr>
            <td>Type:</td>
            <td th:text="${note.type.name}"></td>
        </tr>
        <tr>
            <td colspan="2">
                <button><a href="/notes">No</a></button>
                <input type="submit" value="Yes">
            </td>
        </tr>
    </table>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>